$map-height: 5000px;
$map-width: 5000px;


.map {	  

	// required to get dble click/ bit:new text to show
	min-height: $map-height;
	min-width: $map-width;
	
	height:100%;
  width:100%;
}

.mode--create-parallel{
  background: #7B7B7B;
}

.progress {
  top: 25%;
  left: 50%;
  position: absolute;
}

.progress h3 {
  margin:auto;
  vertical-align:middle;
}

.parallel-line-container{
  position: absolute;
  height: $map-height;
  width: $map-width;
}

#create-parallel--proton
{  
  position: absolute;
}