$map-height: 5000px;
$map-width: 5000px;


.map {	  

	// required to get dble click/ bit:new text to show
	min-height: $map-height;
	min-width: $map-width;
	
	height:100%;
  width:100%;
}

.map__lightbox{
  min-height: initial;
  min-width: initial;
}

.mode--create-parallel{
  background: #7B7B7B;
}

.progress {
  top: 25%;
  left: 50%;
  position: absolute;
}

.progress h3 {
  margin: auto;
  vertical-align: middle;
}

#corner-sparks--particles {  
  position: absolute;
  height: $map-height;
  width: $map-width;
}


.create-parallel--line {    
  position: absolute;
  svg { 
    // override insertion of position:fixed by two.js 'fullscreen' param
    position: absolute !important; 
  }
}


// inspired by          : https://www.youtube.com/watch?v=wHaZrYX0kAU&t=14m54s
// adapated from        : http://codepen.io/vdaguenet/pen/Ebycz

$line-size: 1px;
$color-init: #F9D423;
$color-first: #FE4365;
$color-second: #C7F464;

.wipe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .line {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left top;
   }

  .mask {
    position: absolute;
    z-index: 2;
  }
}

// TODO: refactor to BEM formatting
.wipe.top-to-bottom .line { background: $color-first; }
.wipe.side-to-side .line  { background: $color-second; }

.wipe.load.top-to-bottom .mask {
  width: 100%;
  height: calc(50% - #{$line-size});
  background: $color-init;
  
  &.top     { top: 0; }
  &.bottom  { bottom: 0; }
}

.wipe.side-to-side .mask {
  height: 100%;
  
  &.right { right: 0; }
  &.left  { left: 0; }
}

.wipe.load.side-to-side .mask {
  width: calc(50% - #{$line-size});
  background: $color-first;
}

.wipe.bit-preview.side-to-side {
  display:none;
  opacity:0;
}

.wipe.bit-preview.side-to-side .mask {
  width: calc(50%) !important; // overwrite the line in the middle, not needed here
  background: #222;
}

