<template name="map">

  {{> mapRevealMasks }}

  {{> shortcuts }}

  {{> navPanel }}

  {{#if viewingEventLog }}
    {{> eventlog }}
  {{/if}}

  {{#if viewingDrawer }}
    {{> drawer }}
  {{/if}}

  <div class="map noselect">

    <div class="marquee-select"><span></span></div>

    <div class="cube-wrap vertical">
      <div class="cube depth">
        <div class="front-pane"></div>
        <div class="back-pane"></div>
        <div class="top-pane">
          <h1>{{ selectedBitsCount }} <span>selected</span></h1> 
        </div>
        <div class="bottom-pane"></div>
        <div class="left-pane"></div>
        <div class="right-pane"></div>
      </div>
    </div>



    <!-- {{> colorSortSet }} -->

    {{#each bits}}

      {{#if isSketch}}
        {{> sketchBit}}
      {{else}}
        {{> bit}}
      {{/if}}

    {{/each }}

  </div>
</template>


<template name="mapRevealMasks">

  <div class="wipe load top-to-bottom">
    <div class="line"></div>
    <div class="mask top"></div>
    <div class="mask bottom"></div>
  </div>

  <div class="wipe load side-to-side">
    <div class="line"></div>
    <div class="mask left"></div>
    <div class="mask right"></div>
  </div>

  <div class="wipe bit-preview ">
    <div class="mask"></div>
  </div>

</template>