<template name="map">

  {{> mapRevealMasks }}

  {{> shortcuts }}

  {{> navPanel }}

  {{#if viewingEventLog}}
    {{> eventlog }}
  {{/if}}

  <div class="map noselect">

    {{#each bits}}

      {{#if isSketch}}
        {{> sketchBit}}
      {{else}}
        {{> bit}}
      {{/if}}

    {{/each }}
  </div>

</template>


<template name="mapRevealMasks">

  <div class="wipe load top-to-bottom">
    <div class="line"></div>
    <div class="mask top"></div>
    <div class="mask bottom"></div>
  </div>

  <div class="wipe load side-to-side">
    <div class="line"></div>
    <div class="mask left"></div>
    <div class="mask right"></div>
  </div>

  <div class="wipe bit-preview side-to-side">
    <div class="mask left"></div>
    <div class="mask right"></div>
  </div>

</template>