<template name="bit">
  <div data-id="{{ _id }}" class="bit {{ type }}" data-title="{{ title }}">
    <div class="container">
      <div class="face front {{ color }}">
        <div class="content">

          {{#if isEditingThisBit }}

            <input class="editbit" type="text" autofocus value={{ content }}>

          {{ else }}

            {{#if filename }}
              <img src="images/1000/{{ filename }}.jpg">

            {{ else }}

              {{#if imageDataUrl }}
                <img src="{{ imageDataUrl }}">
              {{ else }}
                {{ content }}
              {{/if}}

            {{/if}}

          {{/if }}

        </div>
      </div>


      <p class="ui-widget-header"></p>

    </div>
  </div>
</template>
