.parallels-lightbox {
  position: fixed;
  overflow-y: scroll;
  z-index: 100; // should be higher than the nav panel
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 3em 15%;


  h1 {
    display: inline-block;
    font-weight: 600;
    margin: 2em 0 0.75em 0;
    border-bottom: #BEBEBE solid 1px;
    padding: 0 2em 0.2em 0;
    line-height: 1.35em;
  }

  p { 
    line-height: 1.55em;
    margin: 0 0 0.5em 0;
  }

  .about__container {
    position: relative;
    top: -40px;

    .wave-slice {
      overflow: hidden;
        height: 440px;
        margin: -50px 0;
    }

    .about__menu                  { display:block; }
    .about__menu-link             { margin: 0 0 1.5em 0; display: block; text-decoration: none;}
    .about__menu-link-arrow       { 
      text-decoration: none;
      font-size: 0.7em;
      margin: 0 0.75em 0 0; 
    }
    .about__menu-link-text        { text-decoration: underline; color: #8B8BF5; }
    .about__content-detailed          { display: none; }
    

  }

  .about__footer {
    border-top: #BEBEBE solid 1px;
    padding-top: 0.5em;
    margin: 5em 0 0 0;

    .fa { margin: 0 0.25em; }

    .fa-heart { font-size: 0.9em; }

    }

}





