.parallels-lightbox {
  position: absolute;
  z-index: 10000000; // should be higher than the nav panel
  top: 0;
  background-color: white;
  padding: 3em 15%;



  h1 {
    display: inline-block;
    font-weight: 600;
    margin: 1.5em 0 0.75em 0;
    border-bottom: #BEBEBE solid 1px;
    padding: 0 2em 0.2em 0;
    line-height: 1.35em;
  }

  p { 
    line-height: 1.4em;
    margin: 0 0 0.5em 0;
  }



  .content__about {
    position: relative;
    top: -40px;

    .wave-slice {
      overflow: hidden;
      height: 240px;
    }
  }

  .about__footer {
    border-top: #BEBEBE solid 1px;
    padding-top: 0.5em;
    margin: 5em 0 0 0;

    .fa { margin: 0 0.25em; }

    .fa-heart { font-size: 0.9em; }

    }

}





