<template name="aboutContent">

  <div class="close-button">
    <i class="fa fa-close"></i>
  </div>

  <div class="content__about">

    <div class="wave-slice">
    </div>

    <div class="about__group">
      <h1>What is Parallels?</h1>

      <p>
        This is a proof of concept for a free + open source workflow tool designed to help you convert your
        digital "distraction" into value. It lets you easily stitch together bits of media scattered across your
        services + devices, into meaningful, creative works full of life.
      </p>

      <p>
         Many things are broken + incomplete, as we design, build + experiment: please check back often. Hourly changes are common.
      </p>

      <p>
         More about <a href="#privacy">privacy.</a>
      </p>

      <p>
        <ul>
          <li>
            Read our contributors 
            <a href="https://parallels.ghost.io" target="_blank">blog</a>
          </li>

          <li>
            Follow us 
            <i class="fa fa-twitter fa__inline"></i> <a href="https://www.twitter.com/makeparallels" target="_blank">@makeparallels</a>
          </li>

          <li>
            Check our day to day research + task list on
            <i class="fa fa-trello fa__inline"></i> <a href="https://trello.com/b/XtenDuNO/parallels-roadmap" target="_blank">
            Trello</a>
          </li>

          <li>Read our
            <a href="https://www.github.com/parallelsio/core-modules/wiki/Roadmap" target="_blank">development roadmap</a>
          </li>

          <li>
            Clone our GPL-licensed <i class="fa fa-github fa__inline"></i> <a href="https://www.github.com/parallelsio/core-modules" target="_blank">open source codebase</a> + contribute!
          </li>

          <li>
            <a href="https://gitter.im/parallelsio" target="_blank">Chat with us</a> on Gitter
          </li>
        </ul>
      </p>
    </div>


    <div class="about__group">
      <h1>Why?</h1>

      <p>
        We feel the status quo falls incredibly short, and so we're making a better alternative to thinking, working and
        playing digitally.
      </p>
    </div>

    <div class="about__group">
      <h1>Who is 'we'?</h1>

      <p>
        We're a community of <a href="https://hackpad.com/Parallels-Community-XGzlw9Mxg39" target="_blank">designers,
        developers, artists + researchers</a>, intentionally looking for collaborators from a broad group of backgrounds
        + domains: art, design, sound, psychology, security, privacy, neuroscience, video gaming, film, writing, education. This extends
        not just around discipline, but also on a personal level -- we're actively building an inclusive, diverse
        group from the beginning.
      </p>
    </div>

    <div class="about__group">
      <h1>How?</h1>

      <p>
        Open source languages, systems and frameworks are our primary toolset. We're also pushing ourselves with
        our process: how we collaborate + transparency. We
        believe stealth mode is generally a fallacy: we've gotten this far by sharing what we're doing with as many
        people as possible.
      </p>

      <p>
        Beyond transparency is a bigger question: how to sustain. We're not quite sure, but we know what we <b
          class="caps">won't</b> do: sell what we make. Sell people's data. Sell ads. Traditional startup funding mostly
        revolves around selling advertising and selling data. This 
        <a href="http://idlewords.com/bt14.htm" target="_blank">has many</a>
        <a href="http://www.theatlantic.com/technology/archive/2014/08/advertising-is-the-internets-original-sin/376041/" target="_blank">negative consequences</a>
        , and is not the model of "sustainability" we're looking to explore.
      </p>

      <p>
        Rather, we're inspired by
        <a href="http://blog.ghost.org/year-2/" target="_blank">Ghost.org</a>,
        <a href="https://www.mozilla.org/en-US/about/manifesto/" target="_blank">Mozilla</a>,
        <a href="https://telegram.org/faq#q-why-should-i-trust-you" target="_blank">Telegram</a>,
        <a href="https://spideroak.com/features/private-by-design" target="_blank">SpiderOak</a>,
        and other organizations + projects who value transparency + data privacy. 
        Our goal is to create a non-profit organization and run a crowdfunding campaign for short term funds. Ultimately though, we want to explore direct donation models, where
        benefactors (you!) support the project via micropayments.
      </p>

      <p>
        We don't yet know exactly how this will work, but lots of interesting things are happening: forward thinking
        non-profits are <a
          href="http://suegardner.org/2013/10/20/whats-really-wrong-with-nonprofits-and-how-we-can-fix-it"
          target="_blank">starting to think differently</a> about how to effectively
        <a href="http://suegardner.org/2014/11/30/whats-wrong-with-restricted-grants/" target="_blank">raise money</a>,
        and a 
        <a href="http://blog.ascribe.io/creative-commons-and-ascribe-enable-copyleft-on-the-bitcoin-blockchain/"
           target="_blank">new wave of digital currency platforms</a>
        are giving us a lot of ideas + leads.
      </p>

      <p>
        For now, we're focused on designing a wonderful experience, and sticking to our core principles to guide us as
        we iterate.
      </p>

    </div>


    <div class="about__group">
      <h1>How is this different than the rest?</h1>

      <p>4 key design principles guide our design + vision:
      <ul>
        <li>
          <b><i class="fa fa-paper-plane fa__leading-li"></i> Flow</b>: the prerequisite for creativity: a low risk environment to
          easily play. Infinite undo/redo. Always remember where you left off. Fun.
        </li>

        <li>
          <b> <i class="fa fa-adjust fa__leading-li"></i> Remixability</b>: Anything can be assembled + broken apart, recombined,
          rearranged - just like digital Lego.
        </li>

        <li>
          <b><i class="fa fa-unlink fa__leading-li"></i> Connections</b>: use the power of association (aka, tagging + links) to
          organize your ideas. Search your stuff in ways you've never done before, and discover new ideas from others
          where you least expect it.
        </li>

        <li>
          <b><i class="fa fa-briefcase fa__leading-li"></i> Private by design</b>: Your data is private by default. You own it. We
          can't access it unless you explicitly publish it.
        </li>
      </ul>
      </p>
    </div>


    <div class="about__group">
      <h1>What would I use this for?</h1>

      <p>

        Are you
      <ul>
        <li>looking to keep an ongoing collection of your notes + ideas, in context of your web history + research?</li>

        <li>researching and writing a book over a long period of time, with more than just words for inspiration and
          reference?
        </li>

        <li>working on a class assignment, term paper or other research project, and are having trouble compiling bits +
          pieces from many places, including your social media profiles?
        </li>

        <li>making a presentation for work, but are having trouble crafting a coherent narrative?</li>

        <li>trying to organize a body of research, but frustrated with current diagramming tools that feel too much like
          engineering-like flowcharts?
        </li>

        <li>struggling to brainstorm with friends or coworkers on a project, and are looking for a shared digital space
          that you can move back and forth between working individually and simultaneously?
        </li>

        <li>researching + designing a film? a play? a comic? a book? or other narrative where Google docs just isn't
          cutting it?
        </li>

      </ul>

      <br>

      <p>
        See a pattern? We're all storytellers in one way or another, struggling with fragmented work + play.

        How would you use Parallels? <a href="http://www.twitter.com/makeparallels" target="_blank">Tell us!</a>
      </p>
      </p>
    </div>


    <div class="about__group">

      <h1>When?</h1>

      <p>
        We're working towards an early alpha release by the end of summer 2015.
        We're then inviting 350+ early adopters to share feedback, help us iterate on our designs, and explore many ways
        it can be used.

        Once we have a clearer picture, we planning on running a crowdfunding campaign to take us into the beta stage,
        while we also look for institutional sponsors + partners, along with fiscal sponsorship. Our long term goal is to fund the project directly from people using and benefitting from it.
      </p>

    </div>

    <div class="about__group">
      
      <a name="privacy"></a>

      <h1>Privacy Notice</h1>
      <p>
        For our alpha release, we're currently leaning towards releasing Parallels as a desktop app, where all the data is only accessible to you, on your own computer. 
      </p>

      <p>
        This proof-of-concept is only a playground, meant to communicate the core ideas of our direction.
        It runs on a traditional web server: content is stored on our Heroku cloud server, and images are stored on our Amazon S3 service.
      </p>

      <p>
        Please only upload images or content that you are ok with being public- as any action you've taken (like upload an image, create a bit) can be accessed/undone via our infinite undo capability. This is by design, as our project aims to be a <a href="http://cacm.acm.org/magazines/2015/5/186024-managing-your-digital-life/fulltext">PIMS</a>. If you accidently uploaded sensitive information and would like to remove it, please <a href="mailto:steven@parallels.io">contact us</a> and we'll remove it manually from our databases.
      </p>


    </div>


    <div class="about__group about__footer">
      Made with 
      <i class="fa fa-heart"></i>, 
      on 
      <i class="fa fa-globe"></i>,
      <a href="https://hackpad.com/Parallels-Community-XGzlw9Mxg39" target="_blank">by</a>.

    </div>


  </div>

</template>


