*.crx
*.log
.DS_Store
.grunt/
.idea
.npm/
_SpecRunner.html
extensions/chrome/build/
chromeprofile/
extensions/chrome/source/bower_components
node_modules
tmp
.env
meteor-app/private/data-backups/canvas.events.json
desktop-app/cache
desktop-app/resources
bower_components