{
  "dist": "build",
  "test": "tests",
  "appRootUrl": {
    "local": "http://localhost:3000",
    "qa": "https://testserver.com",
    "dist": "https://liveserver.com"
  },
  "webSocketUri": {
    "local": "ws://localhost:3000/websocket",
    "qa": "wss://testserver.com/websocket",
    "dist": "wss://liveserver.com/websocket"
  }
}