// inspired by          : https://www.youtube.com/watch?v=wHaZrYX0kAU&t=14m54s
// adapated from        : http://codepen.io/vdaguenet/pen/Ebycz

$line-size: 1px;
$color-init: #F9D423;
$color-first: #FE4365;
$color-second: #C7F464;

$blue:#3C9FFF;


.nav-panel {
 
  position: fixed;
  z-index:100;
  width: 100%;
  /*height: 3em;*/
  top: -100px; // hide off screen, onRender animates it into view
  
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-panel__primary{

  display: -webkit-flex;    
  display: -ms-flexbox;   
  display: flex;
  float:left;
  width: 50%;
  height: 3em;
  margin: 0;
  padding: 0 0 0 1em;

  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;

  i {   
    font-size: 1.25em;
    margin: 0 0.4em; 
  }

  h6 { 
    margin: 0;
  }
} 

.nav-panel__secondary { 

  display: -webkit-flex;    
  display: -ms-flexbox;   
  display: flex;
  float: right;
  width: 50%;
  height: 3em;
  margin: 0;
  padding: 0;

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.nav-panel__link { 
  margin: 0 0.5em;
  flex: flex-shrink;  
}


.wipe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .line {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left top;
   }

  .mask {
    position: absolute;
    z-index: 2;
  }
}

// TODO: refactor to BEM formatting
.wipe.top-to-bottom .line { background: $color-first; }
.wipe.side-to-side .line  { background: $color-second; }

.wipe.load.top-to-bottom .mask {
  width: 100%;
  height: calc(50% - #{ $line-size });
  background: $color-init;
  
  &.top     { top: 0; }
  &.bottom  { bottom: 0; }
}

.wipe.side-to-side .mask {
  height: 100%;
  
  &.right { right: 0; }
  &.left  { left: 0; }
}

.wipe.load.side-to-side .mask {
  width: calc(50% - #{ $line-size });
  background: $color-first;
}

.wipe.bit-preview.side-to-side {
  display:none;
  opacity:0;
}

.wipe.bit-preview.side-to-side .mask {
  width: calc(50%) !important; // overwrite the line in the middle, not needed here
  background: #222;
}


