.nav-panel {
 
  position: fixed;
  z-index:100;
  width: 100%;
  top: -100px; // hide off screen, onRender animates it into view
  
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-panel__primary{

  display: -webkit-flex;    
  display: -ms-flexbox;   
  display: flex;
  float:left;
  width: 25%;
  height: 3em;
  margin: 0;
  padding: 0 0 0 0.5em;

  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;

  i {   
    font-size: 1.25em;
    margin: 0 0.4em; 
  }

  h6 { 
    margin: 0;
  }
} 

.nav-panel__secondary { 

  display: -webkit-flex;    
  display: -ms-flexbox;   
  display: flex;
  float: right;
  width: 75%;
  height: 3em;
  margin: 0;
  padding: 0;

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.nav-panel__link { 
  margin: 0 0.5em;
  flex: flex-shrink;  
}



