<template name="navPanel">

  <div class=nav-panel>


    <div class="nav-panel__primary">
      <i class="fa fa-keyboard-o"></i>
      <h6><a href="#" class="nav-panel__link">What can I do right now? <b>{{ currentModeLabel }}</b></a></h6>
    </div>

    <div class="nav-panel__secondary">

      <a href="#" class="nav-panel__link  nav-panel__link__privacy">privacy notice</a>

      <a href="#" class="nav-panel__link  nav-panel__link__about">about</a>

      <a href="#" class="nav-panel__link  nav-panel__link__sound-toggle"><i class="fa fa-volume-off"></i></a>

      {{> mailSignup }}

    </div>

  </div>

</template>



