<template name="navPanel">

  <div class=nav-panel>
  	
    <div class="nav-panel__header">
      <i class="fa fa-keyboard-o"></i>
      <h6><a href="#" class="nav-panel__link">What can I do right now? <b>{{ currentModeLabel }}</b></a></h6>
    </div>

    {{> mailSignup }}

     <div class="nav-panel__links">
        <a href="#" class="nav-panel__link">privacy notice</a>
        <a href="#" class="nav-panel__link">about</a>
        <a href="#" class="nav-panel__link"><i class="fa fa-volume-off"></i></a>
      </div>

  </div>

</template>



