<template name="navPanel">

  <div class=nav-panel>
  	

    <div class="nav-panel__primary">
      <i class="fa fa-keyboard-o"></i>
      <h6><a href="#" class="nav-panel__link">What can I do right now? <b>{{ currentModeLabel }}</b></a></h6>
    </div>

     <div class="nav-panel__secondary">

        <a href="#" class="nav-panel__link">privacy notice</a>
        <a href="#" class="nav-panel__link">about</a>
        <a href="#" class="nav-panel__link"><i class="fa fa-volume-off"></i></a>

        {{> mailSignup }}

      </div>

  </div>

</template>



