.scale--chroma {
  position: relative;
  margin: 3rem;
  top: 400px;
  z-index: 10000;
}

.scale--vibrant {
  position: relative;
  margin: 3rem;
  top: 420px;
  z-index: 10000;
}

.swatch--chroma {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.swatch--vibrant {
  display: inline-block;
  height: 40px;
  // width: // variable, depends on population (# of pixels this color has), calc'ed by JS
}



//////////////////

.granim__canvas {
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
