<template name="menu">

	<div class="wipe load top-to-bottom">
			<div class="line"></div>
			<div class="mask top"></div>
			<div class="mask bottom"></div>
	</div>

	<div class="wipe load side-to-side">
			<div class="line"></div>
			<div class="mask left"></div>
			<div class="mask right"></div>
	</div>

	<div class="wipe bit-preview side-to-side">
			<div class="mask left"></div>
			<div class="mask right"></div>
	</div>


	<div class="menu" >

    <span>
    	<i class="fa fa-keyboard-o"></i>
    	<h6>What can I do right now? <b>{{ currentModeLabel }}</b></h6>

    	{{> Template.dynamic template=currentModeShortcutTemplate }}
		</span>

		<div class="menu--links">
			<a href="#" class="menu--link">privacy notice</a>
      <a href="#" class="menu--link">about</a>
    	<a href="#" class="menu--link"><i class="fa fa-volume-off"></i></a>
    </div>
	</div>

</template>