// TODO: better way? refer to bourbon Meteor package docs
@import ".meteor/local/build/programs/server/assets/packages/wolves_bourbon/_bourbon.scss";

$bg_color: #e7e4e4;


* { box-sizing: border-box;}


body {
  background: $bg_color;
  color: #333; 
  font-family: 'ChaparralPro-Regular', sans-serif;
  color:gray;
  position:relative;
}

strong { font-family:'ChaparralPro-Semibold', sans-serif;}

