.bit {
  display: inline-block;
   -webkit-font-smoothing:antialiased;

  transition: opacity 500ms ease-in;
  // opacity: 1;
  
    /* we apply a 3d transform just to improve rendering
      adding an imperceivable Z translation 
      causes Greensock to send this to the GPU as a 3D transform,
      improving performance on high powered devices
      http://codepen.io/GreenSock/pen/ywJFi
     */
    -webkit-transform:translateZ(0.1px);
    -moz-transform:translateZ(0.1px);
    -o-transform:translateZ(0.1px);
    -ms-transform:translateZ(0.1px);
    transform:translateZ(0.1px);
  
}

.animation-hook{
  display: inline-block;
  
}


.bit .container {
    color: #666;
    display: inline-block;
    font-size: 16px;
}

.bit .container .ui-widget-header {
    display: none;
    cursor: move;
    background-color: #ccc;
    position: absolute;
    top: -7px;
    left: 0;
    margin: 0;
    padding: 0;
}

.bit .container:hover .ui-widget-header {
    display: block;
    height: 8px;
    width: 100%;
}

.bit .face {
    display: block;
}



.bit.image .container .face.front { 
    padding: 0;
}

.bit.editing .container .face.front,
.bit.text .container .face.front { 

    background-color: #fff;
    padding:15px;
}

.bit.image .content .zoom a { cursor:default;}


.blue { background: #f0f0fa !important;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size:11px; 
} 






// .blinking {
//   -webkit-animation: pulse 0.5s alternate infinite;
//   -moz-animation: pulse 0.5s alternate infinite;
// }

// @-webkit-keyframes pulse {
//   0% {
//     background: rgba(255,255,255,1);
//     box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
//                       0px 0px 40px 2px rgba(105,135,255,1);
//   }
//   100% {
//     background: rgba(255,255,255,0);
//     box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
//                       0px 0px 30px 2px rgba(105,135,255,0.3);
//   }
// }
  
// @-moz-keyframes pulse {
//   0% {
//     background: rgba(255,255,255,1);
//     box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
//                       0px 0px 40px 2px rgba(105,135,255,1);
//   }
//   100% {
//     background: rgba(255,255,255,0);
//     box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
//                       0px 0px 30px 2px rgba(105,135,255,0.3);
//   }
// }


.crop_cursor
{
  cursor:crosshair !important;
}


.bit img { 
  width:200px;
}


.bit.text {
  background-color: white;
  line-height: 1.3em;
  font-size:1.4em;
  padding: 0.25em;
}

.bit.hover {
  -webkit-box-shadow: 3px 4px 11px 0px rgba(50, 50, 50, 0.17);
  -moz-box-shadow:    3px 4px 11px 0px rgba(50, 50, 50, 0.17);
  box-shadow:         3px 4px 11px 0px rgba(50, 50, 50, 0.17);
}










