<template name="mode-shortcuts-home">

  <p class="shortcut">
    <span class="shortcut__bit"></span>
    <span class="shortcut__key shortcut__key--sequence">space</span>
    <i class="fa fa-long-arrow-left"></i>
    <div class="shortcut__flyout">
      placeholder here
    </div>
  </p>
  
  <p class="shortcut">
    <span class="shortcut__bit"></span>
    <span class="shortcut__key shortcut__key--sequence">d</span>
    <i class="fa fa-long-arrow-left"></i>
    <div class="shortcut__flyout">
      placeholder here
    </div>
  </p>
  
  <p class="shortcut">
    <span class="shortcut__bit"></span>
    <span class="shortcut__key shortcut__key--sequence">e</span>
    <i class="fa fa-long-arrow-left"></i>
    <div class="shortcut__flyout">
      placeholder here
    </div>
  </p>
  
  <p class="shortcut">
    <span class="shortcut__bit"></span>
    <span class="shortcut__key shortcut__key--sequence">&#x21E7; shift</span>
    <i class="fa fa-long-arrow-left"></i>
    <div class="shortcut__flyout">
      placeholder here
    </div>
  </p>
  
  <p class="shortcut">
    <span class="shortcut__key shortcut__key--solo">s</span>
    <div class="shortcut__flyout">
      placeholder here
    </div>
  </p>
  
  <p class="shortcut">
    <span class="shortcut__key shortcut__key--solo">h</span>
    <div class="shortcut__flyout">
      placeholder here
    </div>
  </p>

  <p class="shortcut">
    <span class="shortcut__key shortcut__key--solo">t</span>
    <div class="shortcut__flyout">
      placeholder here
    </div>
  </p>
      
  <p class="shortcut">
    <span class="shortcut__key shortcut__key--solo">&#x2318; / ctrl + z</span>
    <div class="shortcut__flyout">
      placeholder here
    </div>
  </p>

   <p class="shortcut">
    <span class="shortcut__key shortcut__key--solo">&#x2318; / ctrl + shift + z</span>
    <div class="shortcut__flyout">
      placeholder here
    </div>
  </p>
  
</template>