// from https://stackoverflow.com/questions/11816166/android-ics-like-input-field-in-css
input[type='text'] {
    padding: 1em;
    outline: none;
    border: none;
    background: bottom left linear-gradient(gray, gray) no-repeat, bottom center linear-gradient(gray, gray) repeat-x, bottom right linear-gradient(gray, gray) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px;
}

input[type='text']:hover, 
input[type='text']:focus {
    background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px; 
} 