.parallels-lightbox {
  position: absolute;
  z-index: 10000000; // should be higher than the nav panel
  top: 0;
  background-color: white;
  padding: 3em 15%;

  a{ font-size: 1.1em; }

  h1 {
    display: inline-block;
    font-weight: 600;
    margin: 1.5em 0 0.75em 0;
    border-bottom: #BEBEBE solid 1px;
    padding: 0 2em 0.2em 0;
    line-height: 1.35em;
  }

  p { 
    line-height: 1.4em;
    margin: 0 0 0.5em 0;
  }

  hr { display:none; } 

  .caps { 
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    font-weight: bolder;
    color: rgb(89, 89, 89);
    margin: 0 0.4em;
  }

  ul { 
    margin: 0 0 0 2em;
  }
  
  ul li { 
    line-height: 1.5em;
    margin: 0.3em 0;
    list-style-type: circle;
  
    i {   
      font-size: 1.1em;
      margin: 0 1.25em 0 0.25em; 
    }
  }

  .content__about {

    position: relative;
    top: -40px;

    .wave-slice {
      overflow: hidden;
      height: 240px;
    }
  }

}





