@import "semantic/reset";
@import "semantic/site";
@import "semantic/button";
@import "semantic/card";
@import "semantic/dimmer";
@import "semantic/header";
@import "semantic/icon";
@import "semantic/transition";
@import "semantic/grid";

::-webkit-scrollbar {display: none;}
::-webkit-scrollbar-button {display: none;}
::-webkit-scrollbar-track {display: none;}
::-webkit-scrollbar-track-piece {display: none;}
::-webkit-scrollbar-thumb {display: none;}
::-webkit-scrollbar-corner {display: none;}
::-webkit-resizer {display: none;}

.card {
  text-align: left;

  .button {
    cursor: inherit;
  }
}

.ui.one.column.grid {
  width: 25%;
  height: 100%;
  margin: 0 auto;
}

.center {
  height: 100%;
  overflow: scroll;
}

.drop {
  display: none;
  position: absolute;
  top: 0em !important;
  left: 0em !important;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: opacity;
  z-index: 1000;

  .content {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-user-select: text;

    div {
      display: block;
      vertical-align: middle;
    }
  }
}
