.map {

	// required to get dlbe click/ bit:new text to show
  // TODO: Need some other way to create an infinite scroll canvas area.
//	min-height:2000px;
//	min-width:2000px;

	height:100%;
  	width:100%;
  }



.image_upload {

/*	position:fixed;
	left:100px;
	top:200px;
	height:400px;*/
	z-index:5000 !important;
	position: fixed;
}
