.menu {
	height:2em;
	width:100%;
	background: #ECECEC;
	font-family: 'Helvetica' !important;
	box-sizing: border-box;
	padding: 0.5em;
}

#menu-bar{
  position: relative;
  top:-100px;
}

.event-trail {
  display: table;
  table-layout: fixed;
  height:1em;
  width:100%;
  box-sizing: border-box;
}
