// TODO: better way? refer to bourbon Meteor package docs
// @import ".meteor/local/build/programs/server/assets/packages/wolves_bourbon/_bourbon.scss";
// @import ".meteor/local/build/programs/server/assets/packages/wolves_bourbon/bourbon"

$bg_color: #e7e4e4;

* { 
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; 
  font-size: 15px;
  font-weight: 400;
  color: gray; 
  margin: 0;
  padding: 0
}

html { height: 100%; }

body {
  background: $bg_color;
  position:relative;
  height: 100%; 
}

strong, b   { font-weight: 700; }
a           { color: #8B8BF5; }



.button { 
  cursor: pointer;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  background: #3C9FFF;
  color: white;
  border: 0;
} 


.field { 
  padding: 0;
  border: 0;
  margin: 0;
}