// TODO: better way? refer to bourbon Meteor package docs
// @import ".meteor/local/build/programs/server/assets/packages/wolves_bourbon/_bourbon.scss";
// @import ".meteor/local/build/programs/server/assets/packages/wolves_bourbon/bourbon"

$bg_color: #e7e4e4;

* { 
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; 
  font-size: 15px;
  font-weight: 400;
  color: gray; 
  margin: 0;
  padding: 0
}

html { height: 100%; }

body {
  background: $bg_color;
  position:relative;
  height: 100%; 
}

strong, b   { font-weight: 700; }
a           { color: #8B8BF5; }



.button { 
  cursor: pointer;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  background: #3C9FFF;
  color: white;
  border: 0;
} 



.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -khtml-user-select: none;
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none;   /* IE 10+ */
    
  /* No support for these yet, future proofing */
  -o-user-select: none;
  user-select: none;

}

.field { 
  padding: 0;
  border: 0;
  margin: 0;
}

ul { 
  margin: 0 0 0 2em;
}

ul li { 
  line-height: 1.5em;
  list-style-type: circle;

  i {   
    font-size: 1.1em;
  }
}

// font awesome icons that are inline with text
.fa__inline {    
  margin: 0 0.05em 0 0.5em;
  
}
  

hr{
  margin: 2em 0;
  /* color: #E6E3E3; */
  background-color: #8B7474;
  border: 0;
  border-top: 1px solid #E4E4E4;
}

// font awesome icons that are preceding text inside of an li
.fa__leading-li { margin: 0 1.25em 0 0.25em;  }


.close-button{
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: #A7A7A7;
}

.caps { 
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-weight: bolder;
  color: rgb(89, 89, 89);
  margin: 0 0.4em;
}

