// TODO: better way? refer to bourbon Meteor package docs
// @import ".meteor/local/build/programs/server/assets/packages/wolves_bourbon/_bourbon.scss";
// @import ".meteor/local/build/programs/server/assets/packages/wolves_bourbon/bourbon"

$bg_color: #e7e4e4;

* { 
  box-sizing: border-box; 
  font-family:'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: gray; 
  margin: 0;
  padding: 0
}

body {
  background: $bg_color;
  position:relative;
}

strong, b   { font-weight: 700; }
a           { color: #8B8BF5; }