<head>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>  
</head>

<template name="layout">

  <div class="wipe load top-to-bottom">
    <div class="line"></div>
    <div class="mask top"></div>
    <div class="mask bottom"></div>
  </div>

  <div class="wipe load side-to-side">
    <div class="line"></div>
    <div class="mask left"></div>
    <div class="mask right"></div>
  </div>

  <div class="wipe bit-preview side-to-side">
    <div class="mask left"></div>
    <div class="mask right"></div>
  </div>

	<div id="map">
  	{{> yield}}
  </div>
</template>

<template name="loading">
  Loading...
</template>



