<template name="feed">

  <div class="ui demo page dimmer transition hidden">

    <div class="content">

      <div class="center">

        <h2 class="ui inverted icon header">
          <i class="feed icon"></i>
          Activity Feed
        </h2>

        <div class="ui one column grid">

          <div class="column">

            <div class="ui fluid card">
              <div class="image">
                <img src="http://semantic-ui.com/images/avatar/large/steve.jpg">
              </div>
              <div class="content">
                <div class="header">Steve Jobes</div>
                <div class="meta">1 day ago</div>
              </div>
              <div class="ui bottom attached button">
                <i class="move icon"></i>
                Drag Me
              </div>
            </div>

            <div class="ui fluid card">
              <div class="content">
                <i class="right floated large black file icon"></i>
                <div class="header">Cute Dog</div>
                <div class="meta">2 days ago</div>
                <div class="description">
                  <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                  <p>Many people also have their own barometers for what makes a cute dog.</p>
                </div>
              </div>
              <div class="ui bottom attached button">
                <i class="move icon"></i>
                Drag Me
              </div>
            </div>

            <div class="ui fluid card">
              <div class="content">
                <i class="right floated large black film icon"></i>
                <div class="header">Awesome video clip</div>
                <div class="meta">2 days ago</div>
              </div>
              <div class="ui bottom attached button">
                <i class="move icon"></i>
                Drag Me
              </div>
            </div>

            <div class="ui fluid card">
              <div class="content">
                <i class="right floated large black music icon"></i>
                <div class="header">My favorite song</div>
                <div class="meta">5 days ago</div>
              </div>
              <div class="ui bottom attached button">
                <i class="move icon"></i>
                Drag Me
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</template>

