<template name="drawer">

  <div class="drawer" >
    <div class="drawer__header"><span class="icon-pencil"> </span> Bit Drawer</div>
    
    <div class="drawer-bits" >

	    	<!-- TODO: why doesnt this work? 
						https://dweldon.silvrback.com/template-instance#disqus_thread
	    			template: {{ Template.instance.bgColor.get }} -->
	    	<!-- and this does: {{ currentColor }} -->
	
	
			  {{#if Template.subscriptionsReady }}

			    {{#each drawerBits }}
			      {{> bit }}
			    {{/each }}
			 
			  {{else}}
			    Loading...
			  {{/if}}

    </div>

  </div>
</template>




