doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='../styles/compiled/main.css')

    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../scripts/vendor/jquery.caret.min.js')
    script(src='../scripts/vendor/jquery.tag-editor.js')
    script(src='../bower_components/mousetrap/mousetrap.min.js')
    script(src='../bower_components/gsap/src/minified/TweenMax.min.js')
    script(src='../bower_components/requirejs/require.js')

    script(src='../scripts/modules/messenger.js')
    script(src='../scripts/modules/clipper.js')

    title Parallels Web Clipper

  body

    .parallels-web-clipper

      .bit-dialog

        .bit-panel
          input.bit-tags(type='text')
          input.bit-title(type='text')

          .bit-actions
            button.submit.blue Submit
            button.cancel.gray Cancel

        .bit-panel.collapsed
          img.bit-screenshot
          textarea.bit-context(placeholder='optional notes')
