doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='../styles/compiled/main.css')

    script(src='../bower_components/requirejs/require.js')
    script(src='../scripts/lib/requireConfig.js')

    script(src='../scripts/content/clipper/main.js')

    title Parallels Web Clipper

  body

    .parallels-web-clipper

      .bit-dialog

        .bit-panel
          input.bit-tags(type='text')
          input.bit-title(type='text')

          .bit-actions
            button.submit.blue Submit
            button.cancel.gray Cancel

        .bit-panel.collapsed
          img.bit-screenshot
          textarea.bit-context(placeholder='optional notes')
