#mc_embed_signup{
  display: inline-block;
  float: right;

  .field { 
    height: 2.25em;
    padding: 0 0.5em;
    margin: 0;
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #B8B8B8;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #B8B8B8;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #B8B8B8;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
     color:    #B8B8B8;
  }


  .button { 
    height: 2.25em;
    padding: 0 1.5em;
    margin: 0 0.5em 0 0;
  }
}

