<template name="mode-shortcuts-sketch-bit">
  <div class="shortcuts">
    
  {{!--
    <div class="shortcut">
      <span class="shortcut__key shortcut__key--solo">esc</span>
      <div class="shortcut__flyout">
        <h1 class="flyout__h1">Cancel / Exit</h1>
      </div>
    </div>
    --}}

    <div class="shortcut">
      <span class="shortcut__key shortcut__key--solo">c</span>
      <div class="shortcut__flyout">
        <h1 class="flyout__h1">Clear <span class="flyout__bit-type">sketch</span> bit canvas</h1>
      </div>
    </div>

    <div class="shortcut">
      <span class="shortcut__key shortcut__key--solo"><i class="fa fa-long-arrow-up"></i> up</span>
      <div class="shortcut__flyout">
        <h1 class="flyout__h1">Increase <span class="flyout__bit-type">sketch</span> bit opacity</h1>
      </div>
    </div>
    
    <div class="shortcut">
      <span class="shortcut__key shortcut__key--solo"><i class="fa fa-long-arrow-down"></i> down</span>
      <div class="shortcut__flyout">
        <h1 class="flyout__h1">Decrease <span class="flyout__bit-type">sketch</span> bit opacity</h1>
      </div>
    </div>
    
    <div class="shortcut">
      <span class="shortcut__key shortcut__key--solo">&#x2318; / ctrl + z</span>
      <div class="shortcut__flyout">
        <h1 class="flyout__h1">Undo pen stroke</h1>
      </div>
    </div>
    
  </div>
</template>