<template name="mode-shortcuts-sketch-bit">
  <div class="shortcuts">
    
  {{!--
    <p class="shortcut">
      <span class="shortcuts- -key">esc</span>
    </p> 
    --}}

    <p class="shortcut">
      <span class="shortcuts--key">c</span>
    </p>
    
    <p class="shortcut">
      <span class="shortcuts--key"><i class="fa fa-long-arrow-up"></i> up</span>
    </p>
    
    <p class="shortcut">
      <span class="shortcuts--key"><i class="fa fa-long-arrow-down"></i> down</span>
    </p>
    
    <p class="shortcut">
      <span class="shortcuts--key">&#x2318; / ctrl + z</span>
    </p>
    
{{!--     <p class="shortcut">
      <span class="shortcuts--key">?</span>
    </p> --}}
  </div>
</template>