<template name="mode-shortcuts-create-bit">
  <div class="shortcuts">
    <p class="shortcut">
      <span class="shortcuts--key">esc</span>
    </p>

    <p class="shortcut">
      <span class="shortcuts--hover-label"></span>
      <span class="shortcuts--key">&#x23CE; enter / return</span>
    </p>
    
    {{!--      
      TODO: add Slack-like ability to input + display line breaks, \n 
      <p class="shortcut">
        <span class="shortcuts--key">&#x23CE; Shift</span> + <span class="shortcuts--key">&#x23CE; Enter/Return</span>
      </p> --}}
  
{{!--     <p class="shortcut">
      <span class="shortcuts--key">?</span>
    </p> --}}
  </div>
</template>