<template name="mode-shortcuts-home">
  <div class="shortcuts">

    <p class="shortcut">
      <span class="shortcuts--hover-label"></span>
      <span class="shortcuts--key">space</span>
    </p>
    
    <p class="shortcut">
      <span class="shortcuts--hover-label"></span>
      <span class="shortcuts--key">d</span>
    </p>
    
    <p class="shortcut">
      <span class="shortcuts--hover-label"></span>
      <span class="shortcuts--key">e</span>
    </p>
    
    <p class="shortcut">
      <span class="shortcuts--hover-label"></span>
      <span class="shortcuts--key">&#x21E7; shift</span>
    </p>
    
    <p class="shortcut">
      <span class="shortcuts--key">s</span>
    </p>
    
    <p class="shortcut">
      <span class="shortcuts--key">h</span>
    </p>

    <p class="shortcut">
      <span class="shortcuts--key">t</span>
    </p>
        
    <p class="shortcut">
      <span class="shortcuts--key">&#x2318; / ctrl + z</span>
    </p>

     <p class="shortcut">
      <span class="shortcuts--key">&#x2318; / ctrl + shift + z</span>
    </p>
    
{{!--     <p class="shortcut">
      <span class="shortcuts--key">?</span>
    </p> --}}
  </div>
</template>