<template name="mode-shortcuts-home">
  <div class="shortcuts">

    <p class="shortcut">
      <span class="shortcuts--hover-label"></span>
      <span class="shortcuts--key type--sequence">space</span>
      <i class="fa fa-long-arrow-left"></i>
    </p>
    
    <p class="shortcut">
      <span class="shortcuts--hover-label"></span>
      <span class="shortcuts--key type--sequence">d</span>
      <i class="fa fa-long-arrow-left"></i>
    </p>
    
    <p class="shortcut">
      <span class="shortcuts--hover-label"></span>
      <span class="shortcuts--key type--sequence">e</span>
      <i class="fa fa-long-arrow-left"></i>
    </p>
    
    <p class="shortcut">
      <span class="shortcuts--hover-label"></span>
      <span class="shortcuts--key type--sequence">&#x21E7; shift</span>
      <i class="fa fa-long-arrow-left"></i>
    </p>
    
    <p class="shortcut">
      <span class="shortcuts--key type--solo">s</span>
    </p>
    
    <p class="shortcut">
      <span class="shortcuts--key type--solo">h</span>
    </p>

    <p class="shortcut">
      <span class="shortcuts--key type--solo">t</span>
    </p>
        
    <p class="shortcut">
      <span class="shortcuts--key type--solo">&#x2318; / ctrl + z</span>
    </p>

     <p class="shortcut">
      <span class="shortcuts--key type--solo">&#x2318; / ctrl + shift + z</span>
    </p>
    
{{!--     <p class="shortcut">
      <span class="shortcuts--key type--solo">tab</span>
    </p> --}}
  </div>
</template>