<template name="mode-shortcuts-home">
  <div class="shortcuts">
    <p>
      <span class="key">s</span>
    </p>
    
    <p>
      <span class="hover-label">hover + </span>
      <span class="key">space</span>
    </p>
    
    <p>
      <span class="hover-label">hover + </span>
      <span class="key">d</span>
    </p>
    
    <p>
      <span class="hover-label">hover + </span>
      <span class="key">e</span>
    </p>
    
    <p>
      <span class="hover-label">hover + </span>
      <span class="key">&#x21E7; Shift</span>
    </p>
    
    <p>
      <span class="key">h</span>
    </p>

    <p>
      <span class="key">t</span>
    </p>
        
    <p>
      <span class="key">&#x2318; / Control Z</span>
    </p>

     <p>
      <span class="key">&#x2318; / Control + Shift + Z</span>
    </p>
    
    <p>
      <span class="key">?</span>
    </p>
  </div>
</template>