<template name="sketchBit">
  <div tabindex="0" class="bit sketch noselect" data-id="{{ _id }}">
    <div class="bit__content {{ color }}">

      <!-- 
      Enable in Chrome via:  chrome://flags/#enable-npapi
      Supports Ploma.js integration, with Wacom tablet plugin 
      finds NPAPI plugin type allows browser to communicate with Wacom tablet.

      Mouse (x/y) gets sent natively, driver maps corrdinates stylus to mouse.
      This object/plugin is required for pressure data.
      -->
      <object id="wtPlugin" type="application/x-wacomtabletplugin">
        <param name="onload" value="pluginLoaded"/>
      </object>

      <!-- canvas when Ploma draws onto.  -->
      <canvas height="500" width="500"></canvas>

    </div>
    <p class="bit__drag-handle"></p>
  </div>
</template>