$blue:#8B8BF5;

 // **************************************************************
    // TODO: extract to app wide level for reuse?
    // TODO: convert to BEM

  .bg-white           { background-color: #FFF; }
  .inline-block       { display: inline-block; }
  .left               { float:left; }
  .right              { float:right; }
  .clear-both         { clear:both; }

  .p-1                { padding: 1rem; }
  .p-lr-1             { padding-left: 1rem; padding-right: 1rem; }
  .p-lr-075           { padding-left: 0.75em; padding-right: 0.75em; }
  .p-tb-1             { padding-top: 1em; padding-bottom: 1em; }
  .p-b-025            { padding-bottom: 0.25em; }
  .p-l-2              { padding-left: 1rem; }

  .m-t-025            { margin-top: 0.25em; }
  .m-r-15             { margin-right: 1.5rem; }

  .bold               { font-weight: bold; }
  .uppercase          { text-transform: uppercase; }
  .letter-wide        { letter-spacing: 0.05em;  }
  .italic             { font-style: italic; }

  .border-b-dotted    { border-bottom: 2px dotted #E7E7FF; }
  .border-b-solid     { border-bottom: 1px solid #f3f4f5; }
  // **************************************************************


.eventlog {
  position: fixed;
  z-index: 10;
  top: 3em;
  right: 0;
  width: 26.2em;
  height: 100vh;
  overflow: auto;

  .controls__icon.icon-clock {
    display: inline-block;
    height: 2.5em;
    padding: 0 0.75em;
    font-size: 1em;
    width: auto;
    line-height: 2.5em;
  }

  .timeline { position: relative; }

  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 13px;
    width: 4px;
    background-color: #f3f4f5;
    z-index: 0;
  }

  .icon               { font-size: .8em; }

  // TODO: refactor to more general, HTML headers, mixins
  .activity--description {
    font-size: 0.85em;
    color: #A3A3A3;
  }  
  
  .activity--time {
    color: #BEBEBE;
    font-size: 0.85em;
  }
  
  .activity--dot { color:#C5C5C5; font-size: 0.8em;  }

  .activity--container:hover{
    background: #F5F5F5;
    
    .activity--dot{ color: $blue;}
  }

  .activity--header{ padding:1em 3em; }

}