$blue:#8B8BF5;

.eventlog {
  position: fixed;
  z-index: 100;
  right: 0;
  width: 26.2em;
  height: 100vh;
  overflow: auto;
  background-color: #FFF;

  .controls__icon.icon-clock {
    display: inline-block;
    height: 2.5em;
    padding: 0 0.75em;
    font-size: 1em;
    width: auto;
    line-height: 2.5em;
  }

  .timeline { position: relative; }

  // vertical timeline line
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9.75%;
    width: 2px;
    background-color: lightgray;
    z-index: 1;
  }


  .activity__header { 
    display: block;
    position: relative;

    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: lightcoral;
    padding: 2rem 0 2rem 5.3rem;
    border-bottom: 1px solid #f3f4f5;

   .icon-clock-1{
     left: -3px;
      position: relative;
      display: inline-block;
      opacity: 0.4;
      top: 1px;
      margin-right: 9px;
    }
  }

  .activity__item {  
    display: flex;
    padding: 1rem 0;
  }

  .activity__position {
    // background: lightcoral;
    width: 20%;
    text-align: center;
  }

  .activity__desc { 
    display: inline-block;
    width: 80%;
    // background: lightblue;
    font-size: 0.85em;
  }

  .activity__time {     
    font-weight: 100;
    color: #c9c9c9;
    font-size: 0.9rem;
    margin: 0.4rem 0;
    font-style: italic;
  }
  
  .activity__dot { 
    position: relative;
    z-index: 2;
    // top: -1.5rem;

    color: white;
    font-size: 0.6rem;
    border: 2px solid lightgray;

    // TODO: fix pixel rendering, not quite right, showing part of the timeline line beneath
    border-radius: 50%;  

    transition: border-color ease-out 0.2s;
  }

  .activity__item:hover {
    
    color: #A3A3A3;
    background: #f2f2f2;
    transition: background ease-out 0.3s;

    .activity__dot { 
      font-size: 1.3rem;
      top: 0.15rem;

      position: relative;
      color: $blue; 
      border: 0;
      transition: background ease-in 0.3s;
    }
  }



}