<template name="menu">

    <div class="loader first">
        <div class="line first"></div>
        <div class="mask horizontal top"></div>
        <div class="mask horizontal bottom"></div>
    </div>

    <div class="loader second">
        <div class="line second"></div>
        <div class="mask vertical left"></div>
        <div class="mask vertical right"></div>
    </div>


	<div id="menu-bar" class="menu" >
		<span>{{ bitsCount }} bits</span>
    <span class="sep"> : </span>
    <span>Editing Bit ID: {{ bitEditing }}</span>
	</div>

</template>