<template name="menu">

    <div class="wipe first">
        <div class="line first"></div>
        <div class="mask toptobottom top"></div>
        <div class="mask toptobottom bottom"></div>
    </div>

    <div class="wipe second">
        <div class="line second"></div>
        <div class="mask sidetoside left"></div>
        <div class="mask sidetoside right"></div>
    </div>

    <div class="wipe side">
        <div class="mask sidetoside left"></div>
        <div class="mask sidetoside right"></div>
    </div>


	<div id="menu-bar" class="menu" >
		<span>{{ bitsCount }} bits</span>
    <span class="sep"> : </span>
    <span>Editing Bit ID: {{ bitEditing }}</span>
	</div>

</template>