$shortcuts-width: 15em;
$shortcut-height: 3em;

.shortcuts {
  position: fixed;
  z-index:100;
  width: $shortcuts-width;
  left: -$shortcuts-width; // hide off screen, onRender animates it into view
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 3em; // clear the info menu
}

.shortcut {
  position: relative;
  padding: 0.25em 0.6em 0.25em 1em;
  height: $shortcut-height;
}

.shortcut:hover{
  background-color: #FFF;
}

.shortcut__bit {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 2.7em;
  height: 1.8em;
  top: 0.5em;
  background: #C6C6C6;
}

.shortcut__cursor {
  position: absolute;
  z-index: 100;
  transform: rotate(55deg);
  left: 3em;
  top: 3em;
  color: #646464;
  opacity: 0;
}

.shortcut__flyout{
  position: absolute;
  display:none;
  width:40vw;
  height:40vh;
  background: white;
  left: $shortcuts-width;
  top: -$shortcut-height;
}

.flyout__h1{
  font-size: 1em;
  letter-spacing: -1px;
  margin: 4em 0 0 2em;
}

.flyout__bit-type{
  font-size: 0.8em;
  font-weight:bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.shortcut__key {
  display: inline-block;
  position: relative;
  z-index: 2;  // one higher so displays over/above the .shortcuts--hover-label layer
  cursor: default;
  background: #F3F2F9;
  border-radius: 0.25em;
  border: 1px solid #D6DADC;
  border-bottom-color: #CDD2D4;
  margin: 0 0.25em;
  padding: 0.4em 0.75em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.shortcut__key--sequence {

}

.shortcut__key--solo {
  position: relative;
  margin-left: 3em;

}