<template name="shortcutsPanel">

  <div class=shortcuts-panel>
  	
    <div class="shortcuts-panel__header">
      <i class="fa fa-keyboard-o"></i>
      <h6><a href="#" class="shortcuts-panel__link">What can I do right now? <b>{{ currentModeLabel }}</b></a></h6>
    </div>

     <div class="shortcuts-panel__links">
        <a href="#" class="shortcuts-panel__link">privacy notice</a>
        <a href="#" class="shortcuts-panel__link">about</a>
        <a href="#" class="shortcuts-panel__link"><i class="fa fa-volume-off"></i></a>
      </div>

  </div>

</template>



